@font-face {
  font-family: 'Chap';
  src: url('fonts/Chap-Regular.eot');
  src: url('fonts/Chap-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chap-Regular.woff2') format('woff2'),
    url('fonts/Chap-Regular.woff') format('woff'),
    url('fonts/Chap-Regular.ttf') format('truetype'),
    url('fonts/Chap-Regular.otf') format('opentype'),
    url('fonts/Chap-Regular.svg#Chap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
  background-color: rgb(209, 203, 188);
}
a {
  color: #1c3b51;
  text-decoration: none;
}
p {
  color: #1c3b51;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14pt;
  margin-bottom: 20pt;
}
h1 {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
  font-size: 24pt;
  margin-bottom: 20pt;
}
span {
  font-size: 24pt;
}
.about-container {
  background-color: rgb(225, 222, 216);
  position: absolute;
  top: 25%;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 70vw;
  display: flex;
  animation: fadeIn 1s ease-in-out;
}
.l-container {
  width: 35%;
}
.r-container {
  width: 65%;
}
.text {
  padding: 10% 10% 0 12.5%;
  word-break: normal;
  hyphens: auto;
}
.about-image {
  background-image: url('../assets/about-bg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1920px) {
  p {
    font-size: 12pt;
  }
  h1 {
    font-size: 19pt;
  }
  span {
    font-size: 19pt;
  }
  .l-container {
    width: 40%;
  }
  .r-container {
    width: 60%;
  }
  .text {
    padding: 10% 10% 0 12.5%;
  }
}
@media only screen and (max-width: 1680px) {
  p {
    font-size: 11pt;
  }
  h1 {
    font-size: 18pt;
  }
  span {
    font-size: 18pt;
  }
}
@media only screen and (max-width: 1600px) {
  p {
    font-size: 10pt;
    margin-bottom: 15pt;
  }
  h1 {
    font-size: 17pt;
    margin-bottom: 15pt;
  }
  span {
    font-size: 17pt;
  }
}
@media only screen and (max-width: 1440px) {
  h1 {
    margin-bottom: 5pt;
  }
  .text {
    padding: 7.5% 10% 0 12.5%;
  }
}
@media only screen and (max-width: 1366px) {
  p {
    font-size: 8pt;
  }
  h1 {
    font-size: 15pt;
  }
  span {
    font-size: 15pt;
  }
}
@media only screen and (max-width: 1024px) {
  .about-container p {
    font-size: 8pt;
  }
  .about-container h1 {
    font-size: 14pt;
  }
  .about-container span {
    font-size: 14pt;
  }
  .about-container {
    top: 15%;
    bottom: 5%;
    width: 90vw;
  }
}
@media only screen and (max-width: 800px) {
  .about-container {
    display: block;
    top: 10%;
  }
  .l-container {
    width: 100%;
    top: 40vh;
    position: absolute;
  }
  .r-container {
    width: 100%;
    height: 40vh;
    position: absolute;
  }
}
@media only screen and (max-width: 736px) {
  .about-container {
    height: 150%;
  }
  .l-container {
    width: 100%;
    top: 52vh;
    position: absolute;
  }
  .r-container {
    width: 100%;
    height: 60vh;
    position: absolute;
  }
}
@media only screen and (max-width: 600px) {
  .about-container {
    height: 80%;
  }
  .l-container {
    width: 100%;
    top: 36vh;
    position: absolute;
    background-color: rgb(225, 222, 216);
  }
  .r-container {
    width: 100%;
    height: 60vh;
    position: absolute;
  }
}
@media only screen and (max-width: 420px) {
  .title h1 {
    font-size: 22pt;
    padding-top: 10px;
  }
  .about-container {
    height: 105%;
  }
  .l-container {
    width: 100%;
    top: 36vh;
    position: absolute;
  }
  .r-container {
    width: 100%;
    height: 40vh;
    position: absolute;
  }
  .text {
    padding: 5% 10% 7.5% 12.5%;
  }
}
@media only screen and (max-width: 320px) {
  .about-container {
    height: 130%;
  }
  .text {
    padding: 10% 10% 7.5% 12.5%;
  }
}
