@font-face {
  font-family: 'Chap';
  src: url('fonts/Chap-Regular.eot');
  src: url('fonts/Chap-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chap-Regular.woff2') format('woff2'),
    url('fonts/Chap-Regular.woff') format('woff'),
    url('fonts/Chap-Regular.ttf') format('truetype'),
    url('fonts/Chap-Regular.otf') format('opentype'),
    url('fonts/Chap-Regular.svg#Chap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
  background-color: rgb(209, 203, 188);
}
a {
  color: #1c3b51;
  text-decoration: none;
}
p {
  color: #1c3b51;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}
h1 {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
}
.container {
  /* background-color: rgb(209, 203, 188); */
  width: 100%;
  align-self: auto;
  height: 100vh;
  overflow: hidden;
}
.about-container {
  overflow: hidden;
  background-color: rgb(225, 222, 216);
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  height: 80vh;
  width: 70vw;
  display: flex;
  animation: fadeIn 1.5s ease-in-out;
}
.left-container {
  width: 66%;
  height: 100%;
}
.right-container {
  width: 34%;
  height: 100%;
}
.l-top-container {
  background-image: url('../assets/about-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 66%;
  width: 100%;
}
.l-bottom-container {
  height: 34%;
  width: 100%;
  padding: 5% 0 5% 5%;
}
.r-top-container {
  background-image: url('../assets/about-title-bg.png');
  background-size: 90% 50%;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 40px;
  height: 20%;
  width: 100%;
}
.r-top-container h1 {
  padding-left: 20%;
  padding-top: 5%;
}
.r-bottom-container {
  height: 70%;
  width: 100%;
  padding: 0 20% 0 20%;
}
.l-under-container {
  display: none;
}
.l-above-container {
  display: none;
}
@media only screen and (max-width: 1440px) {
  p {
    font-size: 17px;
  }
  .r-bottom-container {
    padding: 0 10% 0 10%;
  }
  .r-top-container {
    background-size: 90% 60%;
    height: 15%;
    margin-top: 20px;
  }
  .r-top-container h1 {
    padding-left: 20%;
    padding-top: 5%;
    font-size: 22px;
  }
}
@media only screen and (max-width: 1280px) {
  p {
    font-size: 15px;
  }
  .r-top-container h1 {
    padding-left: 20%;
    padding-top: 5%;
    font-size: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .l-top-container {
    background-image: url('../assets/about-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
    width: 100%;
  }
  .container {
    overflow: visible;
  }
  .about-container {
    overflow: visible;
    top: 40vh;
    width: 90vw;
    height: 50vh;
  }
  .right-container {
    display: none;
  }
  .left-container {
    width: 100%;
  }
  .l-bottom-container {
    display: none;
  }
  .l-above-container {
    display: block;
    padding: 5% 5% 5% 5%;
  }
  .l-under-container {
    background-color: rgb(225, 222, 216);
    display: block;
    padding: 5% 5% 5% 5%;
  }
  p {
    font-size: 18px;
  }
  .title {
    padding-top: 24px;
  }
}
@media only screen and (max-width: 896px) {
  .about-container {
    top: 200px;
  }
}
@media only screen and (max-width: 812px) {
  .about-container {
    top: 100px;
  }
  .l-above-container {
    padding-bottom: 7%;
  }
}
@media only screen and (max-width: 768px) {
  .about-container {
    top: 190px;
    height: 55vh;
  }
}
@media only screen and (max-width: 414px) {
  .about-container {
    top: 320px;
    height: 60vh;
  }
  .l-top-container {
    height: 60%;
  }
}
/* @media only screen and (max-width: 320px) {
  .about-container {
    top: 450px;
    width: 90vw;
    height: 90vh;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    overflow: visible;
  }
  .about-container {
    overflow: visible;
    top: 430px;
    width: 90vw;
    height: 90vh;
  }
  .right-container {
    display: none;
  }
  .left-container {
    width: 100%;
  }
  .l-bottom-container {
    display: none;
  }
  .l-above-container {
    display: block;
    padding: 5% 0 5% 5%;
  }
  .l-under-container {
    background-color: rgb(225, 222, 216);
    display: block;
    padding: 5% 0 5% 5%;
  }
  .l-top-container {
    height: 33%;
  }
  p {
    font-size: 18px;
  }
  .title {
    padding-top: 24px;
  }
} */
