@font-face {
  font-family: 'Chap';
  src: url('fonts/Chap-Regular.eot');
  src: url('fonts/Chap-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chap-Regular.woff2') format('woff2'),
    url('fonts/Chap-Regular.woff') format('woff'),
    url('fonts/Chap-Regular.ttf') format('truetype'),
    url('fonts/Chap-Regular.otf') format('opentype'),
    url('fonts/Chap-Regular.svg#Chap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
  background-color: rgb(209, 203, 188);
  overflow: hidden;
}
a {
  color: #1c3b51;
  text-decoration: none;
}
p {
  color: #1c3b51;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14pt;
  margin-bottom: 20pt;
}
h1 {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
  font-size: 24pt;
  margin-bottom: 20pt;
}
.other-container {
  animation: fadeIn 1s ease-in-out;
  position: absolute;
  top: 23%;
  bottom: 23%;
  left: 10%;
  right: 10%;
}
.column-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.column-wrapper {
  height: 100%;
  width: 33%;
}
.column {
  margin: 0 auto;
  background-color: rgb(225, 222, 216);
  width: 432px;
  height: 100%;
  text-align: center;
}
.column-info {
  position: relative;
  top: 20%;
  padding: 5% 11% 5% 11%;
  font-size: 14pt;
}
.column-title {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
  font-size: 18pt;
  position: relative;
  top: 7.5%;
}
.mid-email {
  color: #1c3b51;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14pt;
  position: relative;
  top: 20%;
  text-align: center;
}
.bot-email {
  display: none;
}
.mid-email span {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
  font-size: 14pt;
}
.window-image {
  position: relative;
  top: 40%;
  left: 50%;
  height: 50%;
  width: 140%;
  background-image: url('../assets/window.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.decoration-image {
  position: relative;
  top: 40%;
  left: 50%;
  height: 50%;
  width: 140%;
  background-image: url('../assets/decoration.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.upholstery-image {
  position: relative;
  top: 40%;
  left: 50%;
  height: 50%;
  width: 140%;
  background-image: url('../assets/upholstery.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1920px) {
  .column-info {
    top: 20%;
    padding: 0% 11% 5% 11%;
    font-size: 14pt;
  }
  .column {
    width: 350px;
  }
  .other-container {
    bottom: 20%;
  }
  .mid-email {
    top: 10%;
  }
}
@media only screen and (max-width: 1680px) {
  .column-info p {
    font-size: 13pt;
  }
  .column {
    width: 300px;
  }
  .mid-email p {
    font-size: 13pt;
  }
  .mid-email span {
    font-size: 13pt;
  }
}
@media only screen and (max-width: 1600px) {
  .column-info p {
    font-size: 11pt;
  }
  .column-title {
    font-size: 16pt;
  }
  .column {
    width: 280px;
  }
  .other-container {
    bottom: 20%;
  }
  .mid-email p {
    font-size: 11pt;
  }
  .mid-email span {
    font-size: 11pt;
  }
}
@media only screen and (max-width: 1440px) {
  .column {
    width: 250px;
  }
}
@media only screen and (max-width: 1366px) {
  .other-container {
    top: 27%;
    bottom: 10%;
    left: 5%;
    right: 5%;
  }
  .mid-email {
    top: 6%;
  }
}
@media only screen and (max-width: 1024px) {
  .other-container {
    top: 20%;
    bottom: 7%;
  }
  .mid-email {
    top: 0%;
  }
  .window-image {
    width: 120%;
  }
  .decoration-image {
    width: 120%;
  }
  .upholstery-image {
    width: 120%;
  }
  .column-info {
    top: 17%;
  }
}
@media only screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
    overflow-y: visible;
  }
  .mid-email {
    display: none;
  }
  .bot-email {
    display: block;
    text-align: center;
    top: 0%;
  }
  .bot-email p {
    font-size: 11pt;
  }
  .bot-email span {
    font-size: 11pt;
  }
  .other-container {
    top: 10%;
  }
  .column-container {
    display: block;
  }
  .column {
    width: 50%;
    height: 480px;
  }
  .top {
    padding-top: 20px;
  }
  .column-info {
    margin-top: 0px;
    padding-bottom: 20px;
  }
  .column-info p {
    font-size: 11pt;
  }
  .mid {
    padding-top: 40px;
  }
  .bot {
    margin-bottom: 50px;
  }
  .column-wrapper {
    width: 100%;
    height: 50%;
  }
  .window-image {
    background-position: center;
  }
  .decoration-image {
    background-position: center;
  }
  .upholstery-image {
    background-position: center;
  }
  .column-title {
    font-size: 16pt;
  }
  .title h1 {
    font-size: 26pt;
    padding-top: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .column-wrapper {
    height: 65%;
  }
}
@media only screen and (max-width: 736px) {
  .other-container {
    top: 15%;
  }
  .column-wrapper {
    height: 190%;
  }
}
@media only screen and (max-width: 600px) {
  .column-wrapper {
    height: 70%;
  }
}
@media only screen and (max-width: 420px) {
  .title h1 {
    font-size: 17pt;
    padding-top: 15px;
  }
  .column {
    width: 100%;
  }
  .column-wrapper {
    height: 90%;
  }
}
@media only screen and (max-width: 320px) {
  .other-container {
    top: 15%;
  }
  .column-wrapper {
    height: 135%;
  }
  .title h1 {
    font-size: 17pt;
    padding-top: 10px;
    margin-top: -20px;
  }
}
