@font-face {
  font-family: 'Chap';
  src: url('fonts/Chap-Regular.eot');
  src: url('fonts/Chap-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chap-Regular.woff2') format('woff2'),
    url('fonts/Chap-Regular.woff') format('woff'),
    url('fonts/Chap-Regular.ttf') format('truetype'),
    url('fonts/Chap-Regular.otf') format('opentype'),
    url('fonts/Chap-Regular.svg#Chap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
  background-color: rgb(209, 203, 188);
}
a {
  color: #1c3b51;
  text-decoration: none;
}
.times {
  color: #1c3b51;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14pt;
  padding-bottom: 20pt;
}
h1 {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
}
.title h1 {
  font-size: 26pt;
  padding-top: 5px;
}
.description {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 22vw;
  padding: 2%;
  font-weight: 450;
}
.chap {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
  font-size: 16pt;
  padding-bottom: 20pt;
}
.construction-container {
  animation: fadeIn 1s ease-in-out;
}
.construction-image {
  background-image: url('../assets/construction.jpg');
  background-size: cover;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 15%;
  right: 15%;
  top: 20%;
}
@media only screen and (max-width: 1920px) {
  .description {
    width: 27vw;
  }
}
@media only screen and (max-width: 1600px) {
  .description {
    width: 30vw;
  }
}
@media only screen and (max-width: 1440px) {
  .times {
    font-size: 13pt;
  }
  .chap {
    font-size: 15pt;
  }
}
@media only screen and (max-width: 1366px) {
  .construction-image {
    top: 25%;
  }
}
@media only screen and (max-width: 1024px) {
  .construction-image {
    top: 20%;
  }
  .description {
    top: 25%;
    left: 18%;
    width: 35vw;
  }
}
@media only screen and (max-width: 800px) {
  .description {
    top: 55%;
    width: 90%;
    background-color: rgba(225, 222, 216, 1);
    padding-bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }
  .construction-image {
    background-position: right;
    position: fixed;
    top: 65px;
    width: 90%;
    height: 50vh;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }
  .title h1 {
    font-size: 19pt;
    padding-top: 7.5px;
  }
}
@media only screen and (max-width: 420px) {
  .description {
    left: 0;
    top: 55%;
    width: 100%;
    padding: 3% 3% 5% 3%;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  .construction-image {
    background-position: right;
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    height: 50vh;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  .title h1 {
    font-size: 17pt;
    padding-top: 0px;
    margin-top: -7.5px;
  }
}
@media only screen and (max-width: 375px) {
  .construction-image {
    top: 40px;
  }
}
@media only screen and (max-width: 320px) {
  .title h1 {
    font-size: 14pt;
    padding-top: 0px;
    margin-top: -5px;
  }
  .times {
    font-size: 11pt;
  }
  .chap {
    font-size: 13pt;
  }
}
