@font-face {
  font-family: 'Chap';
  src: url('fonts/Chap-Regular.eot');
  src: url('fonts/Chap-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chap-Regular.woff2') format('woff2'),
    url('fonts/Chap-Regular.woff') format('woff'),
    url('fonts/Chap-Regular.ttf') format('truetype'),
    url('fonts/Chap-Regular.otf') format('opentype'),
    url('fonts/Chap-Regular.svg#Chap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
  background-color: rgb(209, 203, 188);
}
a {
  color: #1c3b51;
  text-decoration: none;
}
p {
  color: #1c3b51;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}
h1 {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
}
.container {
  width: 100%;
  align-self: auto;
  height: 100vh;
  overflow: hidden;
}
.description {
  background-color: rgba(225, 222, 216, 0.9);
  position: absolute;
  top: 30%;
  left: 5%;
  width: 50vh;
  padding: 2%;
}
.pl {
  padding-left: 10%;
}
.construction-container {
  animation: fadeIn 1s ease-in-out;
}
.construction-image {
  background-image: url('../assets/construction.jpg');
  background-size: cover;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 15%;
  height: 80vh;
  width: 70vw;
}
@media only screen and (max-width: 1440px) {
  .description p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1024px) {
  .description p {
    font-size: 16px;
  }
  .description {
    top: 22%;
  }
}
@media only screen and (max-width: 800px) {
  .description {
    left: 50%;
    width: 60vw;
    top: 42vh;
    background-color: rgba(225, 222, 216, 0.75);
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
  }
  .construction-image {
    left: 0;
    top: 20px;
    width: 100vw;
    height: 40vh;
  }
  p {
    font-size: 18px;
  }
  .title {
    padding-top: 13px;
  }
  .title h1 {
    font-size: 19px;
  }
}
@media only screen and (max-width: 420px) {
  .description {
    left: 0;
    width: 100vw;
    top: 43vh;
    background-color: rgba(225, 222, 216, 0.75);
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
  }
}
/* @media only screen and (min-width: 375px) {
  .description {
    top: 269px;
  }
  .title {
    padding-top: 8px;
  }
  .title h1 {
    font-size: 22px;
  }
} */
