@font-face {
  font-family: 'Chap';
  src: url('fonts/Chap-Regular.eot');
  src: url('fonts/Chap-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chap-Regular.woff2') format('woff2'),
    url('fonts/Chap-Regular.woff') format('woff'),
    url('fonts/Chap-Regular.ttf') format('truetype'),
    url('fonts/Chap-Regular.otf') format('opentype'),
    url('fonts/Chap-Regular.svg#Chap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
  background-color: rgb(209, 203, 188);
  overflow-x: hidden;
}
a {
  color: #1c3b51;
  text-decoration: none;
}
p {
  color: #1c3b51;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}
h1 {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.title h1 {
  font-size: 26pt;
  padding-top: 5px;
}
.container {
  width: 100%;
  align-self: auto;
  height: 100vh;
  overflow: hidden;
}
.contact-container {
  animation: fadeIn 1s ease-in-out;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.form-container {
  width: 50vw;
}
.contact-form {
  margin: 0 auto;
  width: 75%;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.info-container-top {
  margin: 0 auto;
  width: 50vw;
}
.email-info label {
  font-family: 'Times New Roman', Times, serif;
  color: #1c3b51;
  font-size: 22px;
}
.text-field {
  background-color: rgb(209, 203, 188);
  border: 2px solid #1c3b51;
  width: 100%;
  height: 40px;
  padding-left: 5px;
  margin-bottom: 2%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.email-info textarea {
  background-color: rgb(209, 203, 188);
  border: 2px solid #1c3b51;
  width: 100%;
  height: 150px;
  margin-bottom: 2%;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  resize: none;
}
.on-insta-link {
  background-image: url('../assets/insta.png');
  background-size: cover;
  width: 50px;
  height: 52px;
  text-indent: -9999px;
}
.send {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  background-color: rgb(209, 203, 188);
  border: 2px solid #1c3b51;
  width: 100%;
  height: 40px;
  padding-left: 5px;
  margin-bottom: 2%;
}
.send:hover {
  cursor: pointer;
  background-color: rgb(225, 222, 216);
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
}
.address {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  text-align: center;
  padding: 25px 0 0 0;
}
.tc {
  color: #1c3b51;
  font-size: 25px;
  text-align: center;
  padding: 5px 0 25px 0;
}
.fab {
  color: #1c3b51;
  font-size: 50px;
  text-align: center;
  padding: 0px 10px 25px 10px;
  transition: 0.3s;
}
.fab:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.follow {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  text-align: center;
  padding: 25px 0 25px 0;
}
.icons {
  text-align: center;
}
.line {
  margin: 0 auto;
  width: 50px;
  border-bottom: 3px solid #1c3b51;
}
.name {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  text-align: center;
  padding: 25px 0 5px 0;
}
.address-lines {
  color: #1c3b51;
  font-size: 24px;
  text-align: center;
  padding-top: 25px;
}
.address-bottom-line {
  color: #1c3b51;
  font-size: 24px;
  text-align: center;
  padding-bottom: 25px;
}
.reg-number {
  color: #1c3b51;
  font-size: 24px;
  text-align: center;
}
.info-container-bottom {
  display: none;
}
@media only screen and (max-width: 1680px) {
  .contact-container {
    top: 52.5%;
  }
}
@media only screen and (max-width: 1600px) {
  .contact-container {
    top: 55%;
  }
}
@media only screen and (max-width: 1366px) {
  .contact-container {
    top: 60%;
  }
}
@media only screen and (max-width: 800px) {
  .contact-container {
    display: inline-grid;
  }
  .info-container-top {
    display: none;
  }
  .info-container-bottom {
    display: block;
    width: 100%;
    padding-bottom: 50px;
  }
  .form-container {
    width: 100%;
    display: block;
  }
  .address {
    padding-top: 75px;
  }
}
@media only screen and (max-width: 768px) {
  .contact-container {
    top: 670px;
  }
}
@media only screen and (max-width: 600px) {
  .contact-container {
    top: 660px;
  }
}
@media only screen and (max-width: 420px) {
  .contact-container {
    top: 650px;
  }
}
