@font-face {
  font-family: 'Chap';
  src: url('fonts/Chap-Regular.eot');
  src: url('fonts/Chap-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chap-Regular.woff2') format('woff2'),
    url('fonts/Chap-Regular.woff') format('woff'),
    url('fonts/Chap-Regular.ttf') format('truetype'),
    url('fonts/Chap-Regular.otf') format('opentype'),
    url('fonts/Chap-Regular.svg#Chap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
  background-color: rgb(209, 203, 188);
}
a {
  color: #1c3b51;
  text-decoration: none;
}
p {
  color: #1c3b51;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}
h1 {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
}
.container {
  width: 100%;
  align-self: auto;
  height: 100vh;
  overflow: hidden;
}
.furniture-container {
  animation: fadeIn 1s ease-in-out;
  width: 100vw;
  display: flex;
}
.l-container {
  width: 60vw;
}
.r-container {
  width: 40vw;
}
.furniture-image {
  background-image: url('../assets/furniture-bg.jpg');
  background-size: cover;
  position: absolute;
  left: 0;
  top: 20%;
  width: 60%;
  height: 72%;
}
.description {
  background-color: rgb(225, 222, 216);
  position: absolute;
  /* margin-top: 43%; */
  top: 30%;
  padding: 2% 20% 2% 2%;
}
@media only screen and (max-width: 1920px) {
  .description p {
    font-size: 22px;
  }
  .description {
    top: 25%;
    padding: 2% 12.5% 2% 2%;
  }
}
@media only screen and (max-width: 1680px) {
  .description p {
    font-size: 20px;
  }
  .description {
    top: 25%;
    padding: 2% 12.5% 2% 2%;
  }
}
@media only screen and (max-width: 1600px) {
  .description p {
    font-size: 18px;
  }
  .description {
    top: 25%;
    padding: 2% 12.5% 2% 2%;
  }
}
@media only screen and (max-width: 1440px) {
  .description p {
    font-size: 16px;
  }
  .description {
    top: 27.5%;
    padding: 2% 12.5% 2% 2%;
  }
}
@media only screen and (max-width: 1280px) {
  .description p {
    font-size: 15px;
  }
  .description {
    top: 25%;
    padding: 2% 7.5% 2% 2%;
  }
}
@media only screen and (max-width: 1024px) {
  .description p {
    font-size: 13px;
  }
  .description {
    top: 25%;
    padding: 2% 7.5% 2% 2%;
  }
}
@media only screen and (max-width: 800px) {
  .title h1 {
    font-size: 24px;
  }
  .title {
    padding-top: 12.5px;
  }
  .furniture-container {
    display: block;
  }
  .l-container {
    width: 100vw;
  }
  .r-container {
    width: 100vw;
  }
  .description p {
    font-size: 17px;
  }
  .description {
    top: 55%;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }
  .furniture-image {
    background-position: right;
    position: fixed;
    width: 90%;
    height: 50vh;
    top: 65px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }
}
@media only screen and (max-width: 736px) {
  .description {
    background-color: rgba(225, 222, 216, 0.75);
  }
}
@media only screen and (max-width: 420px) {
  .description {
    left: 0;
    top: 55%;
    width: 100%;
    padding: 3% 3% 5% 3%;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  .furniture-image {
    background-position: right;
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    height: 50vh;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
}
@media only screen and (max-width: 375px) {
  .title {
    padding-top: 12px;
  }
  .title h1 {
    font-size: 21px;
  }
}
@media only screen and (max-width: 320px) {
  .title {
    padding-top: 12px;
  }
  .title h1 {
    font-size: 18px;
  }
}
