@font-face {
  font-family: 'Chap';
  src: url('fonts/Chap-Regular.eot');
  src: url('fonts/Chap-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chap-Regular.woff2') format('woff2'),
    url('fonts/Chap-Regular.woff') format('woff'),
    url('fonts/Chap-Regular.ttf') format('truetype'),
    url('fonts/Chap-Regular.otf') format('opentype'),
    url('fonts/Chap-Regular.svg#Chap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes floorIn {
  0% {
    background-image: none;
  }
  10% {
    background-image: url('../assets/floor1.png');
  }
  20% {
    background-image: url('../assets/floor1.png');
  }
  30% {
    background-image: url('../assets/floor2.png');
  }
  40% {
    background-image: url('../assets/floor2.png');
  }
  50% {
    background-image: url('../assets/floor3.png');
  }
  60% {
    background-image: url('../assets/floor3.png');
  }
  70% {
    background-image: url('../assets/floor4.png');
  }
  80% {
    background-image: url('../assets/floor4.png');
  }
  90% {
    background-image: url('../assets/floor5.png');
  }
  100% {
    background-image: url('../assets/floor5.png');
  }
}
@keyframes floorIn {
  0% {
    background-image: none;
    opacity: 0;
  }
  10% {
    background-image: url('../assets/floor1.png');
  }
  20% {
    background-image: url('../assets/floor1.png');
  }
  30% {
    opacity: 1;
    background-image: url('../assets/floor2.png');
  }
  40% {
    background-image: url('../assets/floor2.png');
  }
  50% {
    background-image: url('../assets/floor3.png');
  }
  60% {
    background-image: url('../assets/floor3.png');
  }
  70% {
    background-image: url('../assets/floor4.png');
  }
  80% {
    background-image: url('../assets/floor4.png');
  }
  90% {
    background-image: url('../assets/floor5.png');
  }
  100% {
    background-image: url('../assets/floor5.png');
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
  background-color: rgb(209, 203, 188);
  overflow: hidden;
}
a {
  color: #1c3b51;
  text-decoration: none;
}
.r-container p {
  color: #1c3b51;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12pt;
}
.r-container h1 {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
  font-size: 12pt;
  margin-bottom: 16pt;
}
.l-container p {
  color: #1c3b51;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14pt;
  margin-bottom: 20pt;
}
.l-container h1 {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
  font-size: 18pt;
  margin-bottom: 20pt;
}
span {
  font-size: 24pt;
}
.preload-images {
  background: url('../assets/floor1.png') no-repeat -9999px -9999px,
    url('../assets/floor2.png') no-repeat -9999px -9999px,
    url('../assets/floor3.png') no-repeat -9999px -9999px,
    url('../assets/floor4.png') no-repeat -9999px -9999px,
    url('../assets/floor5.png') no-repeat -9999px -9999px;
}
.italic {
  font-style: italic;
}
.price p {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
}
.title h1 {
  font-size: 26pt;
  padding-top: 5px;
}
.how-container {
  animation: fadeIn 1s ease-in-out;
  width: 100vw;
  display: flex;
}
.floor-image {
  position: absolute;
  top: 35%;
  left: 105%;
  height: 405px;
  width: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-size: contain;
  background-repeat: no-repeat;
  animation: floorIn 6s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.l-container {
  width: 65%;
  word-break: normal;
  hyphens: auto;
}
.r-container {
  width: 35%;
  background-color: rgb(225, 222, 216);
}
.l-top-container {
  position: absolute;
  top: 20%;
  left: 15%;
  right: 50%;
}
.l-bot-container {
  position: absolute;
  top: 30%;
  left: 15%;
  right: 47%;
  display: flex;
}
.l-bot-l-container {
  width: 40%;
}
.l-bot-r-container {
  width: 60%;
}
.r-top-container {
  height: 85vh;
  width: 100%;
  padding-top: 250px;
}
.r-bot-container {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5%;
}
.r-column-container {
  display: flex;
  justify-content: center;
}
.r-bot-l {
  text-align: left;
  padding-right: 18%;
}
.r-bot-r {
  text-align: right;
}
.r-bot-outside {
  position: absolute;
  right: 38%;
}
.r-column {
  width: 25%;
  padding: 0 20px 0 30px;
}
@media only screen and (max-width: 1920px) {
  .r-container p {
    font-size: 9pt;
  }
  .r-container h1 {
    font-size: 9pt;
  }
  .l-container p {
    font-size: 11pt;
  }
  .l-container h1 {
    font-size: 15pt;
  }
  span {
    font-size: 21pt;
  }
  .floor-image {
    top: 32%;
    height: 310px;
  }
}
@media only screen and (max-width: 1680px) {
  .r-column {
    width: 30%;
    padding: 0 20px 0 30px;
  }
  .r-container p {
    font-size: 8pt;
  }
  .r-container h1 {
    font-size: 8pt;
  }
  .l-container p {
    font-size: 10pt;
  }
  .l-container h1 {
    font-size: 14pt;
  }
  span {
    font-size: 20pt;
  }
  .floor-image {
    top: 30%;
    height: 270px;
  }
}
@media only screen and (max-width: 1600px) {
  .r-container p {
    font-size: 7pt;
  }
  .r-container h1 {
    font-size: 7pt;
    margin-bottom: 10pt;
  }
  .l-container p {
    font-size: 9pt;
    margin-bottom: 15pt;
  }
  .l-container h1 {
    font-size: 13pt;
    margin-bottom: 15pt;
  }
  span {
    font-size: 19pt;
  }
  .floor-image {
    top: 32%;
    height: 260px;
  }
  .r-top-container {
    padding-top: 200px;
  }
}
@media only screen and (max-width: 1440px) {
  .r-container p {
    font-size: 7pt;
  }
  .r-container h1 {
    font-size: 7pt;
    margin-bottom: 5pt;
  }
  .l-container p {
    font-size: 9pt;
    margin-bottom: 10pt;
  }
  .l-container h1 {
    font-size: 12pt;
    margin-bottom: 10pt;
  }
  span {
    font-size: 19pt;
  }
  .floor-image {
    top: 29%;
    left: 105%;
    height: 230px;
  }
}
@media only screen and (max-width: 1366px) {
  .l-container p {
    font-size: 9pt;
    margin-bottom: 10pt;
  }
  .l-container h1 {
    font-size: 11pt;
    margin-bottom: 10pt;
  }
  span {
    font-size: 16pt;
  }
  .floor-image {
    top: 31%;
    left: 100%;
    height: 230px;
  }
  .r-column {
    width: 30%;
    padding: 0 10px 0 20px;
  }
  .r-top-container {
    padding-top: 170px;
  }
  .l-bot-container {
    left: 12%;
    right: 45%;
  }
  .l-top-container {
    left: 12%;
  }
}
@media only screen and (max-width: 1280px) {
  .r-container p {
    font-size: 6pt;
  }
  .r-container h1 {
    font-size: 6pt;
  }
  .l-container p {
    font-size: 8pt;
  }
  .l-container h1 {
    font-size: 10pt;
  }
  span {
    font-size: 17pt;
  }
  .r-top-container {
    padding-top: 180px;
  }
  .floor-image {
    top: 33%;
    left: 105%;
    height: 210px;
  }
  .l-bot-container {
    left: 12%;
    right: 45%;
    top: 33%;
  }
  .l-top-container {
    top: 23%;
  }
}
@media only screen and (max-width: 1024px) {
  .l-container p {
    margin-bottom: 5pt;
  }
  .l-container h1 {
    margin-bottom: 5pt;
  }
  .r-top-container {
    padding-top: 140px;
  }
  .floor-image {
    top: 27%;
    left: 96%;
    height: 170px;
  }
  .l-bot-container {
    left: 10%;
    right: 35%;
    top: 29%;
  }
  .l-top-container {
    top: 15%;
    left: 10%;
  }
  .not-mobile {
    display: none;
  }
  .r-bot-container {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
    overflow-y: visible;
  }
  .how-container {
    display: block;
  }
  .l-container {
    position: absolute;
    width: 90%;
    left: 5%;
    right: 5%;
    top: 10%;
  }
  .r-container {
    position: absolute;
    width: 100%;
    top: 750px;
  }
  .r-column {
    width: 30%;
    padding: 0 10px 0 80px;
  }
  .l-top-container {
    position: absolute;
    left: 0;
    width: 100%;
  }
  .l-bot-container {
    position: absolute;
    width: 100%;
    left: 0;
    padding-top: 250px;
  }
  .l-bot-l-container {
    position: absolute;
    width: 100%;
    left: 0;
    padding-top: 75px;
  }
  .l-bot-r-container {
    position: absolute;
    left: 0;
    width: 100%;
  }
  .r-top-container {
    width: 100%;
    margin: 0 auto;
    padding-top: 25px;
    height: 420px;
  }
  .r-column-container {
    width: 100%;
  }
  .floor-image {
    position: absolute;
    width: 75%;
    margin-top: -60px;
    height: 220px;
    left: 62%;
  }
  .r-bot-container {
    height: 140px;
  }
  .r-column-container {
    display: flex;
    justify-content: center;
  }
  .r-bot-l {
    text-align: left;
    padding-right: 100px;
  }
  .r-bot-r {
    text-align: right;
    margin-right: -190px;
  }
  .r-bot-outside {
    position: absolute;
    right: 72%;
  }
  .not-mobile {
    display: none;
  }
}
@media only screen and (max-width: 736px) {
  .l-container {
    top: 25%;
  }
}
@media only screen and (max-width: 600px) {
  .floor-image {
    left: 52%;
  }
  .r-column {
    width: 33%;
    padding: 0 10px 0 50px;
  }
  .r-bot-l {
    text-align: left;
    padding-right: 50px;
  }
  .r-bot-r {
    text-align: right;
    margin-right: -150px;
  }
  .r-bot-outside {
    position: absolute;
    right: 77%;
  }
}
@media only screen and (max-width: 420px) {
  .title h1 {
    font-size: 19pt;
    padding-top: 15px;
  }
  .l-container {
    top: 15%;
  }
  .r-column {
    width: 33%;
    padding: 0 10px 0 30px;
  }
  .floor-image {
    margin-top: -50px;
    left: 50%;
  }
  .l-bot-l-container {
    padding-top: 5px;
  }
  .r-column {
    background-color: rgb(225, 222, 216);
  }
  .r-bot-l {
    text-align: left;
    padding-right: 10px;
  }
  .r-bot-r {
    text-align: right;
    margin-right: -100px;
  }
  .r-bot-outside {
    position: absolute;
    right: 70%;
  }
}
@media only screen and (max-width: 320px) {
  .l-container {
    top: 20%;
  }
  .floor-image {
    margin-top: -30px;
  }
  .r-bot-container h1 {
    font-size: 4pt;
  }
  .r-top-container {
    height: 500px;
  }
  .r-bot-container {
    height: 70px;
    padding-top: 0;
  }
  .r-bot-container p {
    font-size: 4pt;
  }
}
