@font-face {
  font-family: 'Chap';
  src: url('fonts/Chap-Regular.eot');
  src: url('fonts/Chap-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chap-Regular.woff2') format('woff2'),
    url('fonts/Chap-Regular.woff') format('woff'),
    url('fonts/Chap-Regular.ttf') format('truetype'),
    url('fonts/Chap-Regular.otf') format('opentype'),
    url('fonts/Chap-Regular.svg#Chap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes logoTransition {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  25% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  100% {
    transform: translateY(-36.3vh);
    -webkit-transform: translateY(-36.3vh);
  }
}
@keyframes logoTransition {
  0% {
    opacity: 0;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  25% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  100% {
    transform: translateY(-36.3vh);
    -webkit-transform: translateY(-36.3vh);
  }
}
@-webkit-keyframes welcomeTransition {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes welcomeTransition {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
}
a {
  color: #1c3b51;
  text-decoration: none;
}
p {
  color: #1c3b51;
  font-family: 'Times New Roman', Times, serif;
}
h1 {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
}
.container {
  background-color: rgb(209, 203, 188);
  width: 100%;
  align-self: auto;
  height: 100vh;
  overflow: hidden;
}
.sub-title {
  margin: 0;
  position: absolute;
  text-align: center;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
}
.sub-title p {
  font-size: 24px;
  padding-bottom: 10px;
}
.sub-title .lang {
  font-family: 'Chap', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  color: #1c3b51;
}
.title {
  margin: 0;
  position: absolute;
  top: 48%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.title p {
  font-size: 29px;
}
.title h1 {
  font-size: 33px;
}
.title-transition {
  animation: logoTransition 4.5s;
  animation-fill-mode: forwards;
}
.tp-transition {
  animation: welcomeTransition 3.5s;
  animation-fill-mode: forwards;
}
.insta-link {
  background-image: url('../assets/insta.png');
  display: block;
  background-size: cover;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  position: fixed;
  top: 10.4vh;
  right: 180px;
  z-index: 1;
}
.info-link {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
  font-size: 26px;
  display: block;
  padding-top: 18px;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 10.4vh;
  right: 105px;
  z-index: 1;
}
.menu-image {
  position: absolute;
  left: -20%;
  top: 50%;
  transform: translateX(-150%) translateY(-51%);
  background-color: rgb(209, 203, 188);
  width: 89vw;
  align-self: auto;
  height: 100vh;
  background-image: url('../assets/menu-bg.jpg');
  background-position: right;
  background-size: cover;
  overflow: hidden;
}
.language-checkbox {
  display: none;
}
.language-checkbox:checked ~ .menu-image {
  transform: translateY(-51%) translateX(-48%);
  transition-duration: 2s;
  transition-timing-function: ease;
}
#rus {
  cursor: pointer;
}
#eng {
  cursor: pointer;
}
