@font-face {
  font-family: 'Chap';
  src: url('fonts/Chap-Regular.eot');
  src: url('fonts/Chap-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chap-Regular.woff2') format('woff2'),
    url('fonts/Chap-Regular.woff') format('woff'),
    url('fonts/Chap-Regular.ttf') format('truetype'),
    url('fonts/Chap-Regular.otf') format('opentype'),
    url('fonts/Chap-Regular.svg#Chap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes logoTransition {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  25% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  100% {
    transform: translateY(-40vh);
    -webkit-transform: translateY(-40vh);
  }
}
@keyframes logoTransition {
  0% {
    opacity: 0;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  25% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  100% {
    transform: translateY(-40vh);
    -webkit-transform: translateY(-40vh);
  }
}
@-webkit-keyframes welcomeTransition {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes welcomeTransition {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
  background-color: rgb(209, 203, 188);
  overflow: hidden;
}
a {
  color: #1c3b51;
  text-decoration: none;
}
p {
  color: #1c3b51;
  font-family: 'Times New Roman', Times, serif;
}
h1 {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
}
.container {
  width: 100%;
  align-self: auto;
  height: 100vh;
  overflow: hidden;
}
.sub-title {
  margin: 0;
  position: absolute;
  text-align: center;
  top: 51%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
}
.sub-title p {
  font-size: 1.3rem;
  padding-bottom: 10px;
}
.sub-title .lang {
  font-family: 'Chap', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  color: #1c3b51;
}
.title {
  margin: 0;
  text-align: center;
  position: absolute;
  top: 48%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.title p {
  font-size: 2.5rem;
}
.title h1 {
  font-size: 2.5rem;
}
.title-transition {
  animation: logoTransition 4.5s;
  animation-fill-mode: forwards;
}
.tp-transition {
  animation: welcomeTransition 3.5s;
  animation-fill-mode: forwards;
}
.insta-link {
  background-image: url('../assets/insta.png');
  display: block;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  text-indent: -9999px;
  position: fixed;
  top: 115px;
  right: 180px;
  z-index: 1;
}
.info-link {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  display: block;
  padding-top: 18px;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 110px;
  right: 100px;
  z-index: 1;
}
/* .overlay-image {
  opacity: 0;
} */
/* .menu-image {
  position: absolute;
  left: -20%;
  top: 34%;
  transform: translateX(-150%) translateY(-50%);
  background-color: rgb(209, 203, 188);
  width: 89vw;
  align-self: auto;
  height: 100vh;
  background-image: url('../assets/menu-bg.jpg');
  background-position: right;
  background-size: cover;
  overflow: hidden;
} */
.opening-image {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 800px;
  height: 600px;
  transform: translateX(-50%) translateY(-50%);
  background-image: url('../assets/open-bg.jpg');
  background-size: cover;
}
.language-checkbox {
  display: none;
}
.language-checkbox:checked ~ .fade {
  opacity: 0;
}
#rus {
  cursor: pointer;
}
#eng {
  cursor: pointer;
}
.sub-title-mobile {
  display: none;
}
@media only screen and (max-width: 1680px) {
  .menu-image {
    top: 36%;
  }
}
@media only screen and (max-width: 1600px) {
  .sub-title {
    top: 52%;
  }
  .title {
    top: 48%;
  }
  .menu-image {
    top: 32%;
  }
}
@media only screen and (max-width: 1440px) {
  .menu-image {
    top: 29%;
  }
}
@media only screen and (max-width: 1366px) {
  .menu-image {
    top: 32%;
  }
}
@media only screen and (max-width: 1280px) {
  .menu-image {
    top: 34%;
  }
}
@media only screen and (max-width: 1024px) {
  .menu-image {
    left: 0;
    top: 33%;
    transform: translateX(-140%) translateY(-50%);
    width: 100vw;
  }
  .language-checkbox:checked ~ .menu-image {
    transform: translateY(-50%) translateX(-36.5%);
    transition-duration: 2s;
    transition-timing-function: ease;
  }
  .insta-link {
    display: none;
  }
  .info-link {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .title {
    top: 52px;
    position: fixed;
    padding-top: 35px;
    padding-bottom: 10px;
    background-color: rgb(209, 203, 188);
  }
  .title h1 {
    font-size: 26px;
  }
  .title-transition {
    animation: none;
  }
  .tp-transition {
    display: none;
  }
  .sub-title {
    display: none;
  }
  .sub-title-mobile {
    display: block;
    z-index: 3;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .please {
    font-size: 23px;
    padding: 50px 0 25px 0;
  }
  .or {
    padding: 25px 0 25px 0;
    font-size: 23px;
  }
  .sub-title-mobile a {
    font-size: 30px;
    font-family: 'Chap', Arial, sans-serif;
    color: #1c3b51;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
  }
  .insta-link {
    height: 40px;
    width: 40px;
    top: 35px;
    right: 37.5px;
    display: block;
  }
  .info-link {
    display: none;
  }
  p {
    font-size: 18px;
  }
}
