@font-face {
  font-family: 'Chap';
  src: url('fonts/Chap-Regular.eot');
  src: url('fonts/Chap-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chap-Regular.woff2') format('woff2'),
    url('fonts/Chap-Regular.woff') format('woff'),
    url('fonts/Chap-Regular.ttf') format('truetype'),
    url('fonts/Chap-Regular.otf') format('opentype'),
    url('fonts/Chap-Regular.svg#Chap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes carousel {
  0% {
    opacity: 1;
    background-image: url('../assets/interior1.jpg');
  }
  12% {
    opacity: 1;
    background-image: url('../assets/interior1.jpg');
  }
  24% {
    opacity: 1;
    background-image: url('../assets/interior2.jpg');
  }
  36% {
    opacity: 1;
    background-image: url('../assets/interior2.jpg');
  }
  48% {
    opacity: 1;
    background-image: url('../assets/interior3.jpg');
  }
  60% {
    opacity: 1;
    background-image: url('../assets/interior3.jpg');
  }
  72% {
    opacity: 1;
    background-image: url('../assets/interior4.jpg');
  }
  84% {
    opacity: 1;
    background-image: url('../assets/interior4.jpg');
  }
  94% {
    opacity: 1;
    background-image: url('../assets/interior1.jpg');
  }
  100% {
    opacity: 1;
    background-image: url('../assets/interior1.jpg');
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
  background-color: rgb(209, 203, 188);
}
a {
  color: #1c3b51;
  text-decoration: none;
}
p {
  color: #1c3b51;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}
h1 {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
}
.preload-images {
  background: url('../assets/interior1.jpg') no-repeat -9999px -9999px,
    url('../assets/interior2.jpg') no-repeat -9999px -9999px,
    url('../assets/interior3.jpg') no-repeat -9999px -9999px,
    url('../assets/interior4.jpg') no-repeat -9999px -9999px;
}
.container {
  width: 100%;
  align-self: auto;
  height: 100vh;
  overflow: hidden;
}
.description {
  background-color: rgba(225, 222, 216, 0.9);
  position: absolute;
  top: 22.5%;
  right: 5%;
  width: 25%;
  padding: 2%;
}
.interior-image {
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 70%;
  height: 82.5vh;
  background-size: cover;
  background-position: right;
  animation: carousel 40s infinite;
}
.interior-container {
  animation: fadeIn 1s ease-in-out;
}
@media only screen and (max-width: 1920px) {
  .description {
    width: 33%;
  }
}
@media only screen and (max-width: 1680px) {
  .description p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1600px) {
  .description {
    width: 35%;
  }
  .description p {
    font-size: 19px;
  }
}
@media only screen and (max-width: 1440px) {
  .description p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1366px) {
  .description {
    width: 36%;
  }
  .description p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1024px) {
  .description {
    width: 50%;
  }
  .description p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 800px) {
  .title h1 {
    font-size: 24px;
  }
  .title {
    padding-top: 12.5px;
  }
  .description {
    top: 55%;
    width: 90%;
    background-color: rgba(225, 222, 216, 1);
    padding-bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }
  .interior-image {
    background-position: right;
    position: fixed;
    top: 65px;
    width: 90%;
    height: 50vh;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }
}
@media only screen and (max-width: 736px) {
  .description {
    background-color: rgba(225, 222, 216, 0.75);
  }
}
@media only screen and (max-width: 420px) {
  .description {
    left: 0;
    top: 55%;
    width: 100%;
    padding-bottom: 10px;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  .interior-image {
    background-position: right;
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    height: 50vh;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
}
@media only screen and (max-width: 320px) {
}
