@font-face {
  font-family: 'Chap';
  src: url('fonts/Chap-Regular.eot');
  src: url('fonts/Chap-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chap-Regular.woff2') format('woff2'),
    url('fonts/Chap-Regular.woff') format('woff'),
    url('fonts/Chap-Regular.ttf') format('truetype'),
    url('fonts/Chap-Regular.otf') format('opentype'),
    url('fonts/Chap-Regular.svg#Chap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.title {
  position: absolute;
  top: 110px;
  height: 65px;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.title h1 {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
  font-size: 30pt;
}
.insta-link {
  background-image: url('../assets/insta.png');
  display: block;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  text-indent: -9999px;
  position: fixed;
  top: 115px;
  right: 180px;
  z-index: 2;
}
.info-link {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  display: block;
  padding-top: 18px;
  position: fixed;
  top: 110px;
  right: 100px;
  z-index: 2;
}
@media only screen and (max-width: 1024px) {
  .title {
    position: fixed;
    top: 0;
    height: 85px;
    background-color: rgb(209, 203, 188);
  }
  .title h1 {
    transform: translate(0, 30.5px);
    -webkit-transform: translate(0, 30.5px);
  }
  .insta-link {
    height: 40px;
    width: 40px;
    top: 36px;
    right: 25px;
  }
  .info-link {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .title h1 {
    font-size: 26pt;
  }
  .insta-link {
    height: 39px;
    width: 39px;
    top: 35px;
    right: 37.5px;
  }
  .info-link {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .insta-link {
    top: 35px;
    right: 25px;
  }
  .title h1 {
    padding: 0 10% 0 10%;
  }
}
@media only screen and (max-width: 420px) {
  .insta-link {
    height: 37px;
    width: 37px;
    top: 34px;
    right: 10px;
  }
  .title h1 {
    font-size: 28pt;
    padding: 0 10% 0 10%;
    transform: translate(0, 21.5px);
    -webkit-transform: translate(0, 21.5px);
  }
}
