@font-face {
  font-family: 'Chap';
  src: url('fonts/Chap-Regular.eot');
  src: url('fonts/Chap-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chap-Regular.woff2') format('woff2'),
    url('fonts/Chap-Regular.woff') format('woff'),
    url('fonts/Chap-Regular.ttf') format('truetype'),
    url('fonts/Chap-Regular.otf') format('opentype'),
    url('fonts/Chap-Regular.svg#Chap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
}
a {
  color: #1c3b51;
  text-decoration: none;
}
p {
  color: #1c3b51;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}
h1 {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
}
.container {
  background-color: rgb(209, 203, 188);
  width: 100%;
  align-self: auto;
  height: 100vh;
  overflow: hidden;
}
.title {
  margin: 0;
  position: absolute;
  top: 13.45vh;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.title p {
  font-size: 29px;
}
.title h1 {
  font-size: 33px;
}
.insta-link {
  background-image: url('../assets/insta.png');
  display: block;
  background-size: cover;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  position: fixed;
  top: 10.4vh;
  right: 180px;
  z-index: 1;
}
.info-link {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
  font-size: 26px;
  display: block;
  padding-top: 18px;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 10.4vh;
  right: 105px;
  z-index: 1;
}
.other-container {
  animation: fadeIn 2s ease-in-out;
}
.column-container {
  display: flex;
  margin: 0 auto;
  width: 90vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.column-wrapper {
  height: 100%;
  width: 33%;
}
.column {
  margin: 0 auto;
  background-color: rgb(225, 222, 216);
  width: 55%;
  height: 100%;
  text-align: center;
}
.column-info {
  margin-top: 10%;
  padding: 5% 15% 0 15%;
}
.column-title {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
  font-size: 29px;
  padding-top: 4%;
  padding-bottom: 2%;
}
.window-image {
  position: relative;
  top: 13vh;
  left: 50%;
  height: 25vh;
  width: 25vw;
  background-image: url('../assets/window.jpg');
  background-size: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.decoration-image {
  position: relative;
  top: 13vh;
  left: 50%;
  height: 25vh;
  width: 25vw;
  background-image: url('../assets/decoration.jpg');
  background-size: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.upholstery-image {
  position: relative;
  top: 13vh;
  left: 50%;
  height: 25vh;
  width: 25vw;
  background-image: url('../assets/upholstery.jpg');
  background-size: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
