@font-face {
  font-family: 'Chap';
  src: url('fonts/Chap-Regular.eot');
  src: url('fonts/Chap-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chap-Regular.woff2') format('woff2'),
    url('fonts/Chap-Regular.woff') format('woff'),
    url('fonts/Chap-Regular.ttf') format('truetype'),
    url('fonts/Chap-Regular.otf') format('opentype'),
    url('fonts/Chap-Regular.svg#Chap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
  background-color: rgb(209, 203, 188);
}
a {
  color: #1c3b51;
  text-decoration: none;
}
p {
  color: #1c3b51;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}
h1 {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
}
.container {
  width: 100%;
  align-self: auto;
  height: 100vh;
  overflow: hidden;
}
.other-container {
  animation: fadeIn 1s ease-in-out;
}
.column-container {
  display: flex;
  margin: 0 auto;
  width: 90vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.column-wrapper {
  height: 100%;
  width: 33%;
}
.column {
  margin: 0 auto;
  background-color: rgb(225, 222, 216);
  width: 55%;
  height: 100%;
  text-align: center;
}
.column-info {
  margin-top: 10%;
  padding: 5% 15% 0 15%;
}
.column-title {
  font-family: 'Chap', Arial, sans-serif;
  color: #1c3b51;
  font-weight: normal;
  font-style: normal;
  font-size: 29px;
  padding-top: 4%;
  padding-bottom: 2%;
}
.window-image {
  position: relative;
  top: 13vh;
  left: 50%;
  height: 25vh;
  width: 25vw;
  background-image: url('../assets/window.jpg');
  background-size: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.decoration-image {
  position: relative;
  top: 13vh;
  left: 50%;
  height: 25vh;
  width: 25vw;
  background-image: url('../assets/decoration.jpg');
  background-size: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.upholstery-image {
  position: relative;
  top: 13vh;
  left: 50%;
  height: 25vh;
  width: 25vw;
  background-image: url('../assets/upholstery.jpg');
  background-size: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1920px) {
  .column-title {
    font-size: 24px;
  }
  .column-info p {
    font-size: 21.5px;
  }
  .column-container {
    top: 55%;
    height: 55vh;
  }
}
@media only screen and (max-width: 1680px) {
  .column-info p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1600px) {
  .column-info p {
    font-size: 17px;
  }
}
@media only screen and (max-width: 1440px) {
  .column-container {
    top: 55%;
    height: 60vh;
  }
}
@media only screen and (max-width: 1280px) {
  .column-title {
    font-size: 21px;
  }
  .column-container {
    top: 57.5%;
    height: 65vh;
  }
}
@media only screen and (max-width: 1024px) {
  .column-title {
    font-size: 18px;
  }
  .column-info p {
    font-size: 15px;
  }
  .column-container {
    top: 55.5%;
    height: 70vh;
  }
}
@media only screen and (max-width: 800px) {
  .column-container {
    display: block;
    top: 45%;
  }
  .column {
    width: 50%;
    height: 420px;
  }
  .top {
    padding-top: 20px;
  }
  .column-info {
    margin-top: 0px;
    padding-bottom: 20px;
  }
  .column-info p {
    font-size: 18px;
  }
  .mid {
    padding-top: 40px;
  }
  .bot {
    margin-bottom: 50px;
  }
  .column-wrapper {
    width: 100%;
    height: 55%;
  }
  .window-image {
    width: 60vw;
    height: 200px;
    top: 100px;
  }
  .decoration-image {
    width: 60vw;
    height: 200px;
    top: 100px;
    background-position: center;
  }
  .upholstery-image {
    width: 60vw;
    height: 200px;
    top: 100px;
  }
  .column-title {
    font-size: 23px;
  }
  .title h1 {
    font-size: 24px;
  }
  .title {
    padding-top: 12.5px;
  }
}
@media only screen and (max-width: 768px) {
  .column-wrapper {
    height: 67.5%;
  }
}
@media only screen and (max-width: 736px) {
  .column-wrapper {
    height: 100%;
    margin-bottom: 230px;
  }
  .column-container {
    display: block;
    top: 65%;
  }
  .column {
    width: 50%;
    height: 430px;
  }
  .window-image {
    width: 60vw;
  }
  .decoration-image {
    width: 60vw;
    background-position: center;
  }
  .upholstery-image {
    width: 60vw;
  }
}
@media only screen and (max-width: 600px) {
  .column-wrapper {
    height: 67.5%;
    margin-bottom: 20px;
  }
  .column-container {
    top: 47.5%;
  }
}
@media only screen and (max-width: 420px) {
  .column-wrapper {
    height: 55%;
    margin-bottom: 230px;
  }
  .column-container {
    top: 50%;
  }
  .column {
    width: 80%;
  }
  .window-image {
    width: 100vw;
  }
  .decoration-image {
    width: 100vw;
  }
  .upholstery-image {
    width: 100vw;
  }
}
@media only screen and (max-width: 320px) {
  .column-wrapper {
    height: 100%;
  }
  .column-container {
    top: 55%;
  }
  .column {
    height: 460px;
  }
  .column-wrapper {
    margin-bottom: 100px;
  }
}
